/**
 * @name Remi's Modern Discord Theme
 * @author Remi1771 based on 'Alexis | WyvernZu#0001's work.
 * @version 1.0.0
 * @description Remi's Modern Discord Theme
 * @source https://AlexisJonsson.github.io/BetterDiscordAddons/Themes/
 * @website https://alexis.jonsson.com/
*/

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/UsrBgs.css");
@import url("https://github.com/remi1771/DS-Remi-Modern-Theme/raw/main/BetterDiscordAddons/Themes/remi-modern-discord.theme.source");

:root {
    /*My Account Button*/
    --username-button-width: 128px; /* Adjust the with of the username button to match your discord username lenght */
    --username-button-padding: 6px; /* Padding for the username button */
    --username-button-right-margin: 12px; /* Width between the username button and the window controls */

    /*Server List*/
    --server-icon-size: 32px;  /* Size of the server icons */
    --server-outer-margin: 14px;  /* Spacing between the edge of the container and the server icons.*/
    --server-spacing: 10px;  /* Spacing between each server icon*/

    /*Server Info Bar*/
    --app-info-bar-height: 48px; /* Height for container that holds the server name, info, actions and search */
}
